<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/msmith/Documents/School/Fall 2015/cs480/HW4/CS480HW/HW4P4/HW4P4.xcodeproj</string>
</dict>
</plist>
